{% extends "base.html" %}
{% load static %}

{% block extra_title %}
   <title>Wonder Cakes</title>
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto hero-text">
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3" role="button">Shop now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
<footer class="container-wrapper mt-4">
    <div class="container quotes-container content-container">
      <section class="footer">
       <div class="row">
         <div class="col-12 col-md-6 text-center">
           <h3>Social</h3>
           <p>Keep up to date with all our latest offers</p>
           <a href="https://www.facebook.com/WonderCakes22" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
           <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.pinterest.com/" target="_blank"><i class="fa-brands fa-square-pinterest"></i></a>
           <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
         </div>
            
         <div class="col-12 col-md-6 text-center">
            <h3>Subscribe</h3>
           <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://gmail.us21.list-manage.com/subscribe/post?u=4681803862a52a6100db911bf&amp;id=4d095adcc2&amp;f_id=0069c9e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4681803862a52a6100db911bf_4d095adcc2" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                <!-- <p class="brandingLogo"><a href="http://eepurl.com/ig-fVz" title="Mailchimp - email marketing made easy and fun">
                            <img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          <!--End mc_embed_signup-->
         </div>
       </div>
     </section>
   </div>
</footer>
  <!-- /.footer -->
  <!-- Mail chimp JavaScript-->
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endblock %}


