{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 text-center">Thank you for your purcharse! Hello sucker!!!</h2>
            <hr>
            <p>Your order information is below. A confirmation email was sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation border">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ item.product.name }}{% if item.product_flavor %} - Flavor {{ item.product.flavor|upper }}{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_total }}</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.delivery_cost }}</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fa-solid fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            {% else %}
                <a href="{% url 'products' %}?category=baby_shower_cakes,wedding_cakes,birthday_cakes,cupcakes,special_ocassion_cakes,romantic_cakes,quick_cakes" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fa-solid fa-cake-candles"></i>
                    </span>
                    <span class="text-uppercase">All products</span>
                </a>
            {% endif %}
		</div>
    </div>
</div>
{% endblock %}

