
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All Products
            </a>
            <ul class="dropdown-menu border-0 rounded-0" aria-labelledby="all-products-link">
              <li><a class="dropdown-item" href="#">By Price</a></li>
              <li><a class="dropdown-item" href="#">By Rating</a></li>
              <li><a class="dropdown-item" href="#">By Category</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="categories-link" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              Category
            </a>
            <ul class="dropdown-menu border-0 rounded-0" aria-labelledby="categories-link">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=baby_shower %}">Baby Shower Cakes</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=birthday %}">Birthday Cakes</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=cupcakes %}">Cupcakes</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=special,occasion %}">Special Occasion Cakes</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=romantic %}">Romantic Cakes</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=quick %}">Quick Cakes</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=wedding %}">Wedding Cakes</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="more-info-link" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              More
            </a>
            <ul class="dropdown-menu border-0 rounded-0" aria-labelledby="more-info-link">
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><a class="dropdown-item" href="#">Contact</a></li>
              <li><a class="dropdown-item" href="#">FAQ</a></li>
              <li><a class="dropdown-item" href="#">Gallery</a></li>
              <li><a class="dropdown-item" href="#">Ingredients & Allergens</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
