{% extends "base.html" %}
{% load static %}

{% block extra_title %}
   <title>Wonder Cakes | Blog</title>
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center my-3">
                <h2 class="logo-font">Wonder Cakes Blog</h2>
                <hr class="w-75 mx-auto separation-line">
                {% if request.user.is_superuser %}
                    <a class="category-badge text-decoration-none text-uppercase" href="{% url 'add_post' %}">
                        <span class="badge bg-dark rounded-0 border border-dark p-2 mt-2">Add post</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center post-container">
            {% for post in posts %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-black">
                        <h3 class="text-center mt-3">{{ post.title }}</h3>
                        {% if post.image %}
                            <a href="{% url 'post_detail' post.slug %}">
                            <img class="card-img-top img-fluid post-img" src="{{ post.image.url }}" alt="{{ post.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'post_detail' post.slug %}">
                            <img class="card-img-top img-fluid post-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                            </a>
                        {% endif %}
                        <p class="lead mt-2 mb-0 text-center">{{ post.snippet }}</p>
                        <p class="lead text-center">
                            <a href="{% url 'post_detail' post.slug %}" class="text-center read-more-link">Read more</a>
                        </p>
                        {% if request.user.is_superuser %}
                        <div class="d-block mx-auto mb-3">
                            <small>
                                <a href="{% url 'edit_post' post.slug %}" class="edit-link"><i class="fa-solid fa-pen-to-square"></i></a> 
                                <a class="text-danger px-3 delete-link" href="{% url 'delete_post' post.slug %}"><i class="fa-solid fa-trash"></i></a>
                            </small>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none">
                        <hr class="my-5">
                    </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                        <hr class="my-5">
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-noned-lg-blockd-xl-none">
                        <hr class="my-5">
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-nond-xl-block">
                        <hr class="my-5">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}