{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}

<div class="container-fluid py-4">
    <div class="row d-flex align-items-center">
        <h2 class="logo-font text-center">{% trans "Confirm E-mail Address" %}</h2>
        <hr class="w-75 mx-auto separation-line">
        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}" class="account-link">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

        <form method="post" class="w-75 mx-auto" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
            <button type="submit" class="btn btn-black rounded-0 border-black allauth-button d-block mx-auto">{% trans 'Confirm' %}</button>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p class="w-75 mx-auto">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}" class="account-link">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}
    </div>
</div>

{% endblock %}
