{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <div class="container-fluid py-4">
        <div class="row d-flex align-items-center">
            <h2 class="logo-font text-center">{% trans "Password Reset" %}</h2>
            <hr class="w-75 mx-auto separation-line">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="w-75 mx-auto">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset w-75 mx-auto">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-black rounded-0 border-black allauth-button d-block mx-auto" />
            </form>

            <p class="w-75 mx-auto mt-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>

    
{% endblock %}
