{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}
   <title>Wonder Cakes | Change password</title>
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font">{% trans "Change Password" %}</h2>
    <hr class="w-75 mx-auto separation-line">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="btn btn-black rounded-0 border-black allauth-button d-block mx-auto">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
