{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}
   <title>Wonder Cakes | Sign up</title>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<div class="container-fluid py-4">
  <div class="row d-flex align-items-center">
    <h2 class="logo-font text-center">{% trans "Sign Up" %}</h2>
    <hr class="w-75 mx-auto separation-line">
    <p class="text-center mb-4">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="account-link">sign in</a>.{% endblocktrans %}</p>

    <form class="signup w-75 mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-black rounded-0 border-black allauth-button d-block mx-auto">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}
