{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Shop delicious cakes and cupcakes for every special occasion, and with free delivery for orders over €70.">
        <meta name="keywords" content="Birthday cakes, cupcakes, baby shower cakes, wedding cakes, quick cakes, romantic cakes, special occasion cakes, free delivery, other flavors.">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    
    {% block corecss %}
      <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <!-- Google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Norican&display=swap" rel="stylesheet">
      <!-- Mailchimp CSS -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
      <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/5cf6f031a9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}  
    {% endblock %}

    {% block extra_title %}
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="container-fluid sticky-top">
      <!-- Top nav - logo, search bar and shopping bag -->
      <div class="row bg-white d-none d-lg-flex pt-2" id="top-nav">
        <!-- d-sm-none d-md-block d-none d-sm-block -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h1 class="logo-font text-black my-0 display-5 d-lg-inline-block">Wonder Cakes</h1>
          </a>
        </div>

        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <!-- Code from Project-Boutique Ado https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+EA101+2021_T1/courseware/eb05f06e62c64ac89823cc956fcd8191/196e74d3dd5849cd801d319d7095c3eb/?child=first-->
          <form action="{% url 'products' %}" method="get">
            <div class="input-group w-100">
              <input type="text" class="border-black rounded-0 border form-control" name="q" placeholder="Search our cakes">
              <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                  <span class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
          <!-- End of code -->
        </div>

        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
                <a class="text-black  nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fa-solid fa-user nav-icon"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                    <p class="text-muted text-center">Logged in as {{ user.username|capfirst }}</p>
                    <hr>
                      {% if request.user.is_superuser %}
                          <a href="{% url 'add_product' %}" class="dropdown-item">Add a product</a>
                      {% endif %}
                      <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                  <div class="text-center">
                      <div><i class="fa-solid fa-cart-shopping nav-icon"></i></div>
                      <p class="my-0">
                          {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                          {% else %}
                            €0.00
                          {% endif %}
                      </p>
                  </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Main navigation and mobile top header -->
      <div class="row bg-white">
        <!-- <div class="col-12 text-left d-block d-lg-none">
          <a href="{% url 'home' %}" class="text-center">
            <i class="fa-regular fa-cake-candles"></i>
          </a>
        </div> -->
        <nav class="navbar navbar-expand-lg navbar-light py-2 px-2 mx-auto">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-pressed="true" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
      </div>

    <!--  Delivery Banner -->
      <div id="delivery-banner" class="row text-center bg-black">
        <div class="col text-white">
            <h4 class="my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
        </div>            
      </div>
  </header>

    {% if messages %}
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      // Code used from: https://stackoverflow.com/questions/63515279/how-to-initialize-toasts-with-javascript-in-bootstrap-5
      var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      var toastList = toastElList.map(function(toastEl) {
      // Creates an array of toasts (it only initializes them)
        return new bootstrap.Toast(toastEl) // No need for options; use the default options
      });
      toastList.forEach(toast => toast.show()); // This show them
    </script>
    {% endblock %}

<!-- Footer  from https://mdbootstrap.com/docs/standard/navigation/footer/
and modified for the project -->
<footer class="text-center bg-light">
  <!-- Grid container -->
  <div class="container pt-2 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a href="https://www.facebook.com/WonderCakes22" target="_blank" class="btn text-white btn-floating m-1" role="button" ><i class="fa-brands fa-facebook odd-icon-1 social-icon"></i></a>
      <a href="https://www.instagram.com/" target="_blank" class="btn text-white btn-floating m-1" role="button"><i class="fa-brands fa-instagram even-icon-1 social-icon"></i></a>
      <a href="https://www.pinterest.com/" target="_blank" class="btn text-white btn-floating m-1" role="button"><i class="fa-brands fa-pinterest odd-icon-2 social-icon"></i></a>
      <a href="https://twitter.com/" target="_blank" class="btn text-white btn-floating m-1" role="button"><i class="fa-brands fa-twitter even-icon-2 social-icon"></i></a>
    </section>
  </div>
  <hr>

  <!-- Section: Mailchimp Signup Form -->
  <div id="mc_embed_signup bg-dark">
    <form action="https://gmail.us21.list-manage.com/subscribe/post?u=4681803862a52a6100db911bf&amp;id=4d095adcc2&amp;f_id=0069c9e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row d-flex justify-content-center bg-warning">
        <div class="col-auto">
          <p class="pt-2">
            <strong>Sign up for our newsletter</strong>
          </p>
        </div>
        <div id="mc_embed_signup_scroll" class="col-md-5 col-12 bg-info">
          <div class="mc-field-group pt-2">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
            <input type="email" value="" placeholder="email@example.com" name="EMAIL" class="required email" id="mce-EMAIL" required>
            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
          </div>
          <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div class="row d-flex justify-content-center">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_4681803862a52a6100db911bf_4d095adcc2" tabindex="-1" value="">
            </div>
            <!-- <div class="optionalParent"> -->
              <div class="clear foot">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-suscribe border-0">
              </div>
            <!-- </div> -->
          </div>                     
        </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Self promotion-->
  <div class="text-center promotion text-white p-3 align-middle mt-3">
   For more about the developer 
   <a href="https://github.com/iama3191" target="_blank" role="button"><i class="fa-brands fa-github footer-icon"> </i></a> 
  </div>
</footer>
<!-- Mail chimp JavaScript-->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

  </body>
</html>