{% extends "base.html" %}
{% load static %}

{% block extra_title %}
   <title>Wonder Cakes | Edit {{ product.name }}</title>
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center my-3">
            <h2 class="logo-font">Edit a Product</h2>
            <hr class="w-75 mx-auto separation-line">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form action="{% url 'edit_product' product.id %}" method="post" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mb-3">
                    <a href="{% url 'products' %}" class="btn rounded-0 cancel-link">Cancel</a>
                    <button class="btn btn-black update-link rounded-0" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}


